

  .heder{
      width: 100%;      
      height: auto;
      background: #fff;

      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      overflow: hidden;      
      position: fixed;
  }

  .logo{
    width: 80px;
    height: 80px;    
  }
  .logo img{
    max-width: 100%;
  }
  nav ul li{
    list-style: none;
    display: inline;
    padding: 0px 15px;
  }
  nav ul li a{
    text-decoration: none;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
  }

  .logout{
    background-color: orange;    
    padding: 10px;
    border: none;  
    border-radius: 5px;    
  }
  .logout a{
    text-decoration: none;
    color: aliceblue;
  }